.places {
  margin: 0 auto;
  padding: 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 948px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 740px) {
  .places {
    max-width: 320px;
    margin-bottom: 66px;
  }
}