.lead {
  margin: 56px auto;
  margin-bottom: 0;
  padding: 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 695px) {
  .lead {
    max-width: 320px;
    margin-top: 48px;
  }
}