.photo-grid__item {
  max-width: 284px;
}

@media screen and (max-width: 1205px) {
  .photo-grid__item {
    max-width: 300px;
  }
}

@media screen and (max-width: 948px) {
  .photo-grid__item {
    max-width: 352px;
  }
}

@media screen and (max-width: 740px) {
  .photo-grid__item {
    max-width: 288px;
  }
}