.header__lang-links {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  align-self: flex-end;
}

@media screen and (max-width: 675px) {
  .header__lang-links {
    max-height: 42px;
    font-size: 18px;
    line-height: 20px;
  }
}