.place__website {
  margin: 0;
  padding: 0;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  grid-area: website;
}

@media screen and (max-width: 740px) {
  .place__website {
    width: 288px;
    margin: 0 auto;
  }
}