.footer__links-list-element {
  margin: 0;
  padding: 0;
  margin-right: 18px;
}

@media screen and (max-width: 610px) {
  .footer__links-list-element {
    margin-bottom: 32px;
  }
  .footer__links-list-element:last-of-type {
    margin-bottom: 48px;
  }
}